body {
    background: #eee;
  }
  .App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .fade-in-typography {
    opacity: 0;
    transition: opacity 1.5s ease;
  }
  
  .fade-in-typography.visible {
    opacity: 1;
  }

  .text-list {
    background-color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Left-align text */
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    overflow: auto; /* Enable scrolling */
  }
  
  .text-item {
    font-size: 12.5vh;
    margin: 5px 0;
    transition: transform 0.1s ease, filter 0.1s ease;
    position: relative; /* To position the hover image relative to text */
}

.viewport-image {
  position: absolute;
  left: calc(100% + 20px); /* Position image to the right of the text */
  top: 50%; /* Center image vertically */
  transform: translateY(-50%);
  width: calc(50vw); /* Adjust width as half of viewport */
  height: calc(50vh); /* Adjust height as half of viewport */
  /* transition: opacity 0.1s ease; */
  opacity: 1;
}

/* html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
} */

.instagram-ticker-container {
  background-color: rgb(45, 63, 89);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  position: relative;
  overflow: hidden;
  padding: 2% 0 2% 0;
}

.header-ticker {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  font-size: 12rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.header-item {
  margin: 0 10px;
}

.instagram-handle {
  font-size: 8rem;
  margin: 1rem 0 0 0;
}

.ticker-container {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  margin-top: 3%;
}

.ticker {
  display: flex;
  align-items: center;
  position: absolute;
  white-space: nowrap;
}

.ticker-left {
  top: 0;
  left: 100%;
}

.ticker-right {
  bottom: 0;
  right: 100%;
}

.ticker-image {
  width: 150px;
  height: 150px;
  margin: 0 10px;
}

@keyframes ticker-right-to-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-20rem);
  }
}

@keyframes ticker-left-to-right {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(20rem);
  }
}

.img-ticker-rtol {
  display: flex;
  margin-left: -1rem;
  margin-right: -1rem;
  animation: ticker-right-to-left 30s linear infinite;
}

.img-ticker-ltor {
  display: flex;
  flex-direction: row-reverse;
  margin-left: -1rem;
  margin-right: -1rem;
  animation: ticker-left-to-right 30s linear infinite;
}

.ticker-logo {
  width: 12rem;
  flex: none;
  margin: 0 1rem 0 1rem;
  align-self: flex-start;
  max-width: 100%;
  height: 12rem;
  object-fit: cover;
}

.ticker-container {
  overflow: hidden;
   width: 100%;
}


.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.zoom-text {
  font-size: 9rem;
  font-weight: bold;
  display: flex;
  top: 5vh;
}

.letter {
  display: inline-block;
  transition: transform 0.1s ease;
  margin: 1rem 0 1rem 0
}

.scroller {
  /* max-width: 600px; */
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

/* general styles */

:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-primary-100: hsl(205, 15%, 58%);
  --clr-primary-400: hsl(215, 25%, 27%);
  --clr-primary-800: hsl(217, 33%, 17%);
  --clr-primary-900: hsl(218, 33%, 9%);
}


.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li {
  padding: 1rem;
  background: var(--clr-primary-400);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
}

.different-celebration-images {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
}

.horizontal-scroll-section-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.styled-image-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex: 0 0 50vw; 
    border-right:  2px solid gray; 
    padding: 16px;
}

@media (min-width: 480px) {
  
	.horizontal-scroll-section-container {
	  height: 100vh;
	}
  }

@media (max-width: 480px) {
  
  .different-celebration-images {
    display: none;
  }

  .horizontal-scroll-section-container {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }

  .styled-image-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex: 0 0 100vw; 
    border-right:  2px solid gray; 
    padding: 16px;
  }

  .header-ticker {
	font-size: 5rem;
  }

  .zoom-text {
	font-size: 1rem;
  }
}
